  /* Styles go here */

  /* Sticky footer styles
  -------------------------------------------------- */

  html,
  body {
    height: auto;
    padding-top: 60px;
    background-color: #fff;

    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    /*min-height: 100%;
    height: auto;*/
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;

  }

  /* Set the fixed height of the footer here */
  #footer {
    height: 60px;
    background-color: #000000;

      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /*margin in footer text*/

  .container .credit {
    margin: 20px 0;
  }


@font-face {
  font-family: Lobster;

  src: url('../fonts/lobster.otf');
 }


@font-face {
  font-family: Ubuntu;

  src: url('../fonts/Ubuntu-L.ttf');
 }


 .logo {


     font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 60px;
 }



 .page-header{

  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 60px;


 }

.profile-img {
    border-radius: 50%;
    height:100px;
    width:100px;
}

.navbar-default {
    background-color: #b91313;
    border-bottom: #454547 40px solid;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f5f5f5;
    background-color: rgba(0,0,0,.25);
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;

}

.bg-white{
  background-color:#fff;
  /*border-right: #ddd 1px solid;*/
  border-left: #ddd 1px solid;
  height: auto;
}
.panel{
  margin-bottom: 0px;
}

*:not(.img-circle) {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.size {
    width: 100px;
    height: 100px;
}
.padding {
    padding: 10px;
}
.wrapper {
    display: inline-block;
    padding: 10px;
}
.wrapper img {
    width: 100%;
    height: 100%;
}
.invisible-border {
    border: 1px solid transparent;
}
.myCircle {
    padding: 10px;
    border-radius: 50%;
}

.navbar-default .navbar-brand {
    color: #fff;
}
